version: '3.8'
services:
  webssh:
    image: ghcr.io/workerspages/webssh:latest
    container_name: webssh
    ports:
      - "8888:8888"
    environment:
      - USER=admin        # 自定义用户名
      - PASS=admin123     # 自定义密码
      - TZ=Asia/Shanghai  # 设置时区，这对 Cron 定时任务非常重要
    volumes:
      - ./data:/app/data  # 挂载数据目录以持久化数据库(webssh.db)
    restart: unless-stopped
